# macOS
.DS_Store

# Node / Yarn / Vite
**/node_modules/
**/dist/
**/.pnp.*
**/.turbo/
**/.next/
**/.vercel/

# Yarn Berry (必要な配下のみ追跡する場合は調整)
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Env
**/.env
**/.env.*

# Editor
.vscode/
.idea/ 
environment/
